//客製
.mt-35 {
  margin-top: 35px;
}
//餐廳列表
.reslist-card {
    margin: 25px;
    border-radius: 15px;
    border: 2px solid $light-green;
    overflow: hidden;
    height: 200px;
  }
  
  .reslist-card:hover .foodImg {
    transform: scale(1.03);
  }
  
  .foodImg {
    width: 46%;
    object-fit: cover;
    transition: 0.7s;
    border-radius: 15px 0 0 15px;
  }
  
  .reslist-txt {
    padding: 15px 0 0 20px;
    h3 {
      color: $dark-green;
      font-size: 24px;
      font-weight: 700;
    }
    p {
      font-size: 20px;
    }
    .fas.fa-truck {
      color: $dark-green;
      margin-right: 10px;
    }
  
    .fas.fa-dollar-sign {
      color: #ffb606;
      margin-right: 12px;
      font-size: 24px;
    }
  
    .far.fa-clock {
      color: #fb6107;
      margin-right: 10px;
      font-size: 22px;
    }
    @include mobile {
      line-height: 0;
      padding: 5px 0 0 10px;
  
      .res-card {
        margin: 20px auto;
        border-radius: 15px;
        border: 2px solid $light-green;
        overflow: hidden;
        width: 320px;
        height: 150px;
      }
      h3 {
        font-size: 18px;
      }
      p {
        font-size: 14px;
      }
  
      .foodImg {
        width: 45%;
      }
      .reslist-title {
        padding-top: 10px;
      }
  
      .fas.fa-truck {
        font-size: 16px;
      }
  
      .fas.fa-dollar-sign {
        font-size: 18px;
      }
  
      .far.fa-clock {
        font-size: 18px;
      }
    }
  }
  
  //人氣精選
  
  .res-popular {
    h3 {
      color: $dark-green;
      font-size: 24px;
      font-weight: 700;
    }
    p{
      font-size: 16px;
      margin-top: 2px;
    }
  
    .res-popular-body {
      background-color: rgba(255, 182, 6, 0.2);
      padding: 10px 20px 25px;
      border-radius: 0 0 15px 15px;
    }
    @include mobile {
      margin: 10px 45px;
      h3 {
        font-size: 20px;
      }
    }
  }
  
  //餐廳細節頁res-detail
  
  .resImg {
    border-radius: 15px 0 0 15px;
    @include mobile {
      border-radius: 0px;
    }
  }
  .res-production {
    background-color: #ffb606;
    height: 100%;
    border-radius: 0 15px 15px 0px;
    h3 {
      font-size: 24px;
      line-height: 1.5;
      padding: 150px 100px;
    }
  
    @include mobile {
      border-radius: 0px;
      h3 {
        font-size: 20px;
        padding: 110px 65px;
      }
    }
  }
  @include mobile {
    h3 {
      font-size: 16px;
    }
    p {
      font-size: 14px;
    }
  }
  
  .res-connect {
    h3 {
      font-size: 24px;
      padding-top: 50px;
    }
    @include mobile {
      h3 {
        font-size: 20px;
        padding-top: 40px;
      }
    }
  }